.reserve_seat{
  background-color: #1d2433;
  color: rgb(195, 247, 9);
}
.card-body{
  border: non
}
#reserve_button{
  border:none;
background-color: #ffae57;
color:#1d2433;
}
#reserve_button:hover{
  transition: transform 0.3s ease-out;
  transform:scale(1.1);
}

