@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');
* {
  font-family: "Roboto Condensed";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  #burger {
    display: none;
  }

  .burgerNavBar .menu {
    display:none;
  }
}

@media screen and (max-width: 600px) {
  .menuNavBar{
    display: none !important;
  }
}