@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');

* {
  font-family: "IM Fell DW Pica";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App{
  background-color: #1d2433;
}
p {
  font-family: 'IM Fell Double Pica';
}

@media screen and (min-width: 600px) {
  #burger {
    display: none;
  }

  #burgerbar {
    display:none !important;
  }

  .burgerNavBar li {
    display:none;
  }

  .burgerLogo {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .menuNavBar{
    display: none !important;
  }
}