/* -------------Individual artist container styling ------------ */
.artistsContainer .line {
  border: solid 1px;
  border-color: #ffae57;
  border-left: none;
  border-right: none;
  width: 60vw;
  height: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.artistsContainer {
  background-color: #1d2433;
  color: white;
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artistsContainer h1 {
  margin: 20px 0px 30px 0px;
  color: rgb(195, 247, 9);
}

.artistsContainer h3 {
  color: rgb(195, 247, 9);
  font-size: 22pt;
}

.artistImage {
  height: 15vw;
  width: auto;
}

.artistImageContainer {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.textContainer a {
  text-decoration: none;
  color: rgb(195, 247, 9);
}

.textContainer {
  margin-top: 20px;
  width: 90vw;
  text-align: justify;
  margin: 20px 6% 0px 6%;
}

.artistContact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* -----------------------Screen resizing styling--------------- */

@media screen and (min-width: 601px) {
  .artistsContainer h1 {
    font-size: 30pt;
  }

  .textContainer {
    font-size: 14pt;
  }

  .textContainer h5 {
    font-size: 14pt;
  }
}
