* {
  margin: 0;
  padding: 0;
}

/*---------------------Styling for orange/peach line element----------------- */
.about .line {
  border: solid 1px;
  border-color: #ffae57;
  border-left: none;
  border-right: none;
  width: 60vw;
  height: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* ---------- Styling for about container , font color and background color---------- */
.about {
  display: flex;
  flex-direction: column;
  background-color: #1d2433;
  color: white;
  align-items: center; 
  margin-bottom: 180px;
}

/*-----------------------Headers style, font color and margin adjustment----------- */
.about h1 {
  color: rgb(195, 247, 9);
  margin-bottom: 10px;
  font-size: 38pt;
}
#about_us{
  color:#ffae57 ;
}

.aboutImgDiv1 {
  display: flex;
  justify-content: center;
  float: left;
}
.aboutImgDiv2 {
  display: flex;
  justify-content: center;
  float: right;
}

.aboutImage2 {
  width: 50vw;
}

.aboutImage1 {
  margin: 20px 10px 0 0;
  height: 40vw;
}

.aboutImage2 {
  margin: 20px 0 10px 10px;
}

.aboutWrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 25px 0 25px;
  text-align: justify;
  align-items: center;
}

.aboutWrapper h3 {
  font-size: 22pt;
}

.aboutWrapper h4 {
  color: rgb(195, 247, 9);
  margin-top: 25px;
}

.aboutWrapper .barn {
  text-align: center;
  margin-top: 0px;
}

.board {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 100px;
  -moz-column-width: 100px;
  column-width: 100px;
  column-gap: 50px;
}

/* --------------Contact elements styling-------- */
.contactWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 25px;
  text-align: justify;
  align-items: center;
}

/* ------Sponsor list wrapper styling ---- */
.sponsorsWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 25px;
  align-items: center;
  font-size: 14pt;
}

/* ------Sponsor List Items Styling------------- */
.sponsorsList {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 150px;
  -moz-column-width: 150px;
  column-width: 150px;
  column-gap: 20px;
}

.sponsorsWrapper .thankYou {
  text-align: center;
}

.sponsorHowTo {
  font-size: 18pt;
  text-align: center;
}

.sponsorHowTo .special {
  color: rgb(195, 247, 9);
}

/* -----------------------Screen resizing styling--------------- */

@media screen and (min-width: 200px) {
  h3 {
    text-align: center;
  }
  .board {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  h3 {
    font-size: 20pt;
  }
  .board {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    
  }
}

@media screen and (min-width: 601px) {
  .about {
    font-size: 16pt;
  }
  .about h1 {
    font-size: 30pt;
  }
  .board {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    
  }
}
