.line {
  border: solid 1px;
  border-color: #ffae57;
  border-left: none;
  border-right: none;
  width: 60vw;
  height: 5px;
  margin-top: 50px;
  margin-bottom: 60px;
}

@media screen and (min-width: 200px) {
  * {
    margin: 0;
    padding: 0;
  }

  .about {
    display: flex;
    flex-direction: column;
    background-color: #1d2433;
    color: white;
  }

  .aboutImage1,
  .aboutImage2 {
    width: 40vw;
    margin-bottom: 15px;
  }

  .aboutImgDiv1 {
    display: flex;
    justify-content: center;
    float: left;
  }
  .aboutImgDiv2 {
    display: flex;
    justify-content: center;
    float: right;
  }

  h3 {
    font-size: 25pt;
    text-align: center;
  }

  .aboutWrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
    text-align: justify;
    align-items: center;
  }

  .contactWrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
    text-align: justify;
    align-items: center;
  }

  .sponsorsWrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
    text-align: justify;
    align-items: center;
  }

  .sponsorsList {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    column-width: 150px;
    column-gap: 20px;
  }

  .sponsorHowTo {
    font-size: 14pt;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  h3 {
    font-size: 25pt;
  }

  .aboutImage1,
  .aboutImage2 {
    width: 40vw;
    float: right;
    padding-left: 50px;
  }

  .aboutImage2 {
    width: 40vw;
    float: left;
  }

  .aboutWrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
    text-align: justify;
  }

  .contactWrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 20px 15px;
    text-align: justify;
  }

  .sponsorsWrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
    text-align: justify;
  }
}

@media screen and (min-width: 601px) {
  .aboutImage1,
  .aboutImage2 {
    width: 40vw;
    float: right;
    padding-left: 50px;
    padding-right: 20px;
  }

  .about{
    font-size: 20pt;
    padding-right: 50px;
  }
  .about h1{
    color:chartreuse;
    margin-bottom:50px;
  }
}
