
/* -----Main Season page container styling-------- */
.season_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom:50px;
    padding-top:50px;
    background-color: #1d2433;
    color:white;
    align-items: center;
}


/*--------------------- Calendar image-------------- */

.calendar_season img{
 width: 30vw;
 margin-right:100px;
}

/* -----Eliminating dotted list style and margin and color for links------*/
.season_list{
    list-style:none;
}
ul a{
    text-decoration: none;
    margin-right:20px;
    color:chartreuse;
    
}

/*  --- modifying positioning of show titles and dates list ------ */

.season_list li{
    padding-bottom:20px;
}

/* ---- Main container  for calendar image and show titles list ---- */
.calendar_container{
    display: flex;
    padding-top:50px;
}