.homeContainer {
  background-color: black;
  position: relative;
}

/* currently playing image and text */
.currentPlay {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.imageDiv img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.currentPlayText {
  color: white;
}

/* next playing image and text */
.whatNext {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
}

.whatNext img {
  width: 100%;
  height: auto;
}

.whatNextText {
  color: white;
}

.footer {
  position: relative;
}

@media screen and (min-width: 200px) {
  .currentPlayText {
    position: absolute;
    width: 60vw;
    top: 28%;
    left: 5%;
  }

  .whatNext {
    position: relative;
  }

  .whatNextText {
    position: absolute;
    width: 60vw;
    top: 5%;
    left: 35%;
    text-align: right;
  }
}

@media screen and (min-width: 400px) {
  .currentPlayText {
    top: 30%;
  }

  .whatNextText {
    top: 5%;
    left: 35%;
  }
}

@media screen and (min-width: 450px) {
  .currentPlayText {
    top: 30%;
  }
}

@media screen and (min-width: 550px) {
  .currentPlayText {
    top: 35%;
  }
}

@media screen and (min-width: 600px) {
  .currentPlayText {
    top: 40%;
  }
}

@media screen and (min-width: 800px) {
  .whatNext img {
    width: 75%;
    height: auto;
  }
  
  .currentPlayText {
    position: absolute;
    top: 85%;
    left: 5%;
  }

  .whatNext {
    position: absolute;
    top: 65%;
    left: 50%;
  }

  .whatNextText {
    width: 25vw;
    top: 55%;
    left: 25%;
  }

  .whatNextText h2 {
    font-size: 24pt;
  }
}
