/* -----------------------Screen resizing styling--------------- */
@media screen and (min-width: 200px) {
    .imageBox {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    transition: transform 0.2s ease-out;
  }

  .image_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
  }

  .image_row img {
    height: 25vw;
    box-shadow: 0 25px 50px rgb(196, 196, 196);
    transition: transform 0.5s ease-out;
    border-radius: 12px;
    margin-bottom: 5px;
  }
  
  .imageBox img:hover{
    transform: scale(1.1);
  }

  .imageBox p {
    color: black;
    text-align: justify;
  }


}

/* -----------------------Screen resizing styling--------------- */
@media screen and (min-width:400px) and (max-width:750px){
  .image_row h3{
    font-size:16pt;
    margin-bottom:10px;
    margin-top:11px;
  }
  .image_row p{
    font-size: 11pt;
  }
}

/* -----------------------Screen resizing styling--------------- */
@media screen and (min-width:751px){
  .image_row h3{
    font-size:30pt;
    margin-bottom:10px;
    margin-top:11px;
  }
  .image_row p{
    font-size: 14pt;
    width:25vw;
  }
}

