@media screen and (min-width: 200px) {
  /* Targetting the Logo image to resize it */
  .logo {
    height: 75px;
    width: auto;
  }

  /* Nav container styling */
  nav {
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    width:100vw;
    background-color: black;
    align-items: center;
  }

  /* list styling */
  .tag {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 10px;
  }

  /* list styling */
  .ul-List {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 20%;
  }
}
