/*--------------------- Nav Bar main container/wrapper styling --------------- */
.menuNavBar {
  overflow: hidden;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* --------------------Style the links inside the navigation bar -------------------*/
.menuNavBar a {
  color: rgb(195, 247, 9);
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 25px;
}
/* -----------------------Change the color of links on hover -------------------------*/
.menuNavBar a:hover {
  background-color: #ddd;
  color: black;
}
/* -----------------Add an active class to highlight the current page-------------------*/
.menuNavBar a.active {
  background-color: #4caf50;
  color: white;
}

li {
  list-style: none;
}

/*----------------------------Styling targetting Phantom Theater logo----------------------- */

.logo img {
  width: 300px;
  height: auto;
  z-index: 1;
  padding: 20px 10px;
}

/*-----------------Styling applied only to screens with min-width of 750 px---------- */

@media screen and (min-width: 750px) {
  .logo img {
    width: 250px;
  }

  .menuNavBar img {
    padding: 0px;
  }

  .menuNavBar a:nth-child(3) {
    padding: 10px 0px;
  }
}

/*-----------------Styling applied only to screens with min-width of 601px and max-width of 750px---------- */

@media screen and (min-width: 601px) and (max-width: 750px) {
  .logo img {
    width: 200px;
  }

  .menuNavBar img {
    padding: 0px;
  }

  .menuNavBar a:nth-child(3) {
    padding: 10px 0px;
  }

  .menuNavBar a {
    font-size: 16pt;
  }
}
