@media screen and (min-width: 200px) {
  /* Targetting the Logo image to resize it */
  .logo {
    height: 75px;
    width: auto;
  }

  /* Nav container styling */
  nav {
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    
    background-color: black;
    align-items: center;
  }

  /* list styling */
  .tag {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 10px;
  }

  /* list styling */
  .ul-List {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 20%;
  }
}

@media screen and (min-width: 400px) and (max-width:750px){
  .tag{
   font-size:12pt ;
   margin-right:10px;
   
  }
  .ul-List{
    padding-left: 15px;
    padding-right: 6px;
  }
}

@media screen and (min-width:751px) {
  .tag{
    font-size: 14pt;
    margin-right:15px;
  }
  .ul-List{
    padding-left: 15px;
    
  }
}

