.add_show{
    background-color:  #1d2433;
    color: rgb(195, 247, 9);;
}

#form{
    background-color: #1d2433;;
}
#container_add{
    background-color: #1d2433;
}
.card{
background-color: #1d2433;
border-top:none;
border-bottom: none;

}