.dash_board{
    background-color:#1d2433;
  color: white;
 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dash_board h2{
    color:  rgb(195, 247, 9);
}
.dash_board button{
    margin-right: 20px;
    border-radius: 6%;
}

.dash_buttons{
   display: flex;
   align-items: center;
   justify-content: center;
  flex-direction:column;
}