.proposal_container{
    color: rgb(195, 247, 9);
}

#submit_button{
    background-color:#ffae57;
    border:none;
    color:#1d2433;
    
}
#submit_button:hover{
    transition: transform 0.3s ease-out;
    transform:scale(1.1);
  }