.season_button{
    border:none;
    background-color: #ffae57;
    color:#1d2433;
    width: 80px;
    height: 30px;
    border-radius: 6%;
}
/* Form Button Animation */
.season_button:hover{
    transition: transform 0.3s ease-out;
    transform:scale(1.1);
}